<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "_shared/head.html" . }}
    <body>
	     {{ partial "_shared/alert.html" . }}
	     {{ partial "_shared/navbar.html" . }}
        <div class="site-content">
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
	     {{ partial "_shared/jumbotron.html" . }}
       {{ partial "_shared/alertbar.html"}}
	     {{ partial "_shared/footer.html" . }}
        </div>
        {{- partial "_shared/base.html" . -}}
    </body>
</html>
