{{ define "main" }}
    {{ partial "_shared/title.html" . }}
    <meta name="description" content="{{ .Site.Params.meta.description }}">
    <meta name="keywords" content="{{ $.Site.Params.meta.keywords }}">
    {{ printf "<!-- Begin Main Content -->"| safeHTML }}
    <div class="main-content">
	      {{ printf "<!-- Posts Index -->" | safeHTML }}
        <section class="recent-posts">

            {{/* The following section lists the most recent posts. */}}
            <div class="row listrecent">
            	{{/* This "if" statement checks if the current page is the home page. If it is, it paginates .Site.RegularPages (i.e. all posts). If not, it paginates all pages under the current directory (e.g. author pages or tag pages). */}}
		{{ if .IsHome }}
			{{ $post_paginator := .Paginate (.Site.RegularPages) 9 }}
		{{ else }}
			{{ $post_paginator := .Paginate (.RegularPages) 9 }}
		{{ end }}
    {{ $post_paginator := .Paginate (.RegularPages) 9 }}
    		{{/* The following "range" function takes the 9 posts gathered above and puts each of them into the postbox.html partial (which defines the actual box on the screen which shows each post). */}}
                {{ printf "<!-- Begin Post Boxes -->"| safeHTML }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{ end }}
                {{ printf "<!-- End Post Boxes -->"| safeHTML }}
            </div>
        </section>

        {{/* pagination.html defines the buttons on the screen which allow you to go to the next or previous page of results. */}}
        {{ printf "<!-- Begin Pagination -->"| safeHTML }}
        {{- partial "list-partials/pagination.html" $post_paginator -}}
        {{ printf "<!-- End Pagination -->"| safeHTML }}

    </div>

{{ end }}

{{/* The footer adds jumbotron.html, which adds in the tags section. And, of course, it includes the standard footer.html */}}
