
<div class="article-post">
	<div class="post-info">
		<hr class="post-end">

        	{{/* Post Categories */}}	
		{{ if .Params.tags }}
        	<ul class="tags">
			<i class="fas fa-tags fa-fw"></i>
                        {{ range .Params.tags }}
                        <li>
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{.}}</a>
                        </li>
                        {{ end }}
		</ul>
		{{- end }}

		<!-- WORD COUNT -->
		<p><i class="fas fa-file-alt fa-fw"></i> {{ .WordCount }} Words</p>
		
		<!-- GIT INFORMATION -->
		{{- if .GitInfo }}
			<p><i class="fas fa-code-branch fa-fw"></i> <a href="{{ .Site.Params.gitURL }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ dateFormat "2006-01-02" .Lastmod }}</p>
		{{- end }}

		{{/* End Categories */}}

	<p>See more from {{ .Params.Author }} <a href="{{ .Site.Params.baseURL }}/author/{{ .Params.Author | urlize }}">here</a>.</p>
	{{- if .Params.imageAttribution }}
		<p>Photo by {{ .Params.imageAttribution }}.</p>
	{{ end -}}
	<p>Send feedback and letters to the editor to <a href="mailto:feedback@thetaliaferrotimes.org">feedback@thetaliaferrotimes.org</a>.</p>
	</div>
</div>
