<div class="share sticky-top sticky-top-offset">
    {{ printf "<!-- Mastrodon sharing script -->" | safeHTML }}
    <script src="{{ "/js/mastodon.js" | urlize | relURL }}"></script>
    
    <p>Share</p>
    <ul>
        <li class="ml-1 mr-1">
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
        <i title="Share on Twitter :(" class="fab fa-twitter"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ .URL | absLangURL }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i title="Share on Facebook :(" class="fab fa-facebook-f"></i>
        </a>
        </li>

        <!-- <li class="ml-1 mr-1">
        <a target="_blank" href="https://plus.google.com/share?url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'google-share', 'width=550,height=435');return false;">
        <i class="fab fa-google"></i>
        </a>
        </li> -->

        <li class="ml-1 mr-1">
        <a target="blank_" href="https://www.xing.com/spi/shares/new?url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'xing-share', 'width=550,height=435');return false;">
        <i title="Share on Xing :(" class="fab fa-xing"></i>
        </a>
        </li>

	<li class="ml-1 mr-1">
	<!-- <input onclick="share_mastodon()" value="testingMastodon"/> -->
        <i title="Share on Mastodon :)" style="cursor:pointer;" class="fab fa-mastodon" onclick="share_mastodon()"></i>
        </input>
        </li>


    </ul>

    {{ if .Params.comments }}
        <div class="sep">
        </div>
        <ul>
            <li>
            <a  class="small smoothscroll" href="#disqus_thread"></a>
            </li>
        </ul>
    {{ end }}
</div>
