<!-- This file could be our home page (index.html). Instead, we use list.html for every list page. If there the page is the home page, the proper info is shown. -->
{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">
            <div class="section-title">
                <!-- <h2><span>All Posts</span></h2>  --> <!-- NATE: REMOVED SINCE WE DON'T USE IT AND IT'S UGLY -->       
            </div>
            <div class="row listrecent">
		<!-- NOTE FROM NATE: This index.html is the home page. It is identical to _defaults/list.html except it uses .Site.RegularPages instead of .RegularPages in order to show all pages on the site. -->
		{{ $post_paginator := .Paginate (.Site.RegularPages) 9 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    <!-- {{- partial "_shared/social.html" . -}} NOTE FROM NATE: REMOVED THIS TO HAVE SOCIAL MEDIA IN MENU -->
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
