<!-- Bottom Alert Bar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
					<span style="font-family:Righteous;">The Taliaferro Times</span>
					<span>&nbsp; Never miss a <b>story</b>, subscribe to our newsletter</span>

        <form action="https://thetaliaferrotimes.us19.list-manage.com/subscribe/post?u=d26cf2ca72382457545be7bf6&amp;id=47e6abb364" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<input type="email" placeholder="Email" name="EMAIL" autocomplete="on" required>
	    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d26cf2ca72382457545be7bf6_47e6abb364" tabindex="-1" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" >
        </form>

	</div>
</div>
