<!-- Top Alert Bar
================================================== -->
<div id="alert-header">
        	{{/* This "if" statement checks if the current page is the home page. If it is, it paginates .Site.RegularPages (i.e. all posts). If not, it paginates all pages under the current directory (e.g. author pages or tag pages). */}}
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 	
		{{ if .Site.Params.alert.enabled }}
		<p><strong>{{ .Site.Params.alert.title }}</strong> {{ .Site.Params.alert.content }}{{- if .Site.Params.alert.link.enabled }} See: <a href="{{ .Site.Params.alert.link.url }}">{{ .Site.Params.alert.link.name }}</a>{{- end -}}</p>
		{{ end }}
</div>
