{{ printf "<!-- Slower and/or less essential CSS and JS placed at the end of the document so the pages load faster -->" | safeHTML }}
<!--
<link href="{{ "/css/googlefontcss.css" | urlize | relURL }}" rel="stylesheet">

<script src="{{"/js/jquery-3.4.1.min.js" | urlize | relURL }}"></script>

<script src= "{{"/js/popper.min.js" | urlize | relURL }}"></script>
<script src="{{"/js/mediumish.js" | urlize | relURL }}"></script>
-->



<script aysnc="async" src= "{{"/js/bootstrap.min.js" | urlize | relURL }}"></script>
<script src= "{{"/js/darkmode.js" | urlize | relURL }}"></script>
<script async="async" type="text/javascript">darkmode_starting_up_2();</script>
<script data-goatcounter="https://thetaliaferrotimes.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<noscript><img src="https://thetaliaferrotimes.goatcounter.com/count?p=/test-img"></noscript>
