<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
		    &copy; {{ .Site.Copyright }}<a href="{{ .Site.Params.copyrightLink }}"> {{ .Site.Params.copyrightLicense }}</a>
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">
                <a href="/privacy-policy">Privacy Policy</a>
                &nbsp
		<a target="_blank" rel="noopener" href="https://gitlab.com/exprez135/taliaferro">Source Code</a>
		&nbsp
                <a target="_blank" rel="noopener" href="https://wordpress.thetaliaferrotimes.org">Old Website</a>
		&nbsp
		<a target="_blank" rel="noopener" href="https://status.thetaliaferrotimes.org">Status</a>
		<noscript><p>JavaScript is disabled on your machine. We use javascript to: enable our darkmode feature, search the site index when you make a search on our search page, make our menu toggle work on mobile-sized screens, and add some accesibility features. Without javascript, you should still be able to access most of the site's content. If something appears broken, please contact us by going to our About page.</p></noscript>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
