<head profile="http://www.w3.org/2005/10/profile">

	<link rel="icon"
	      type="image/ico"
	      href="https://thetaliaferrotimes.org/favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	{{ .Hugo.Generator -}}
	{{ with .Site.Params.logo }}
	<link rel="icon" href="{{ . | urlize | relURL }}">
	{{ end }}
	{{- if .IsHome -}}
		<title>{{ .Site.Title }}</title>
	{{- else -}}
		<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
	{{- end -}}
	{{- with .Site.Params.meta.description -}}<meta name="description" content="{{ . }}">{{- end -}}
	{{- with .Site.Params.meta.keywords -}}<meta name="keywords" content="{{ . }}">{{- end -}}

  {{ printf "<!-- Begin Initial CSS Section. -->" | safeHTML }}
	<!--
	<link href="{{ "/css/bootstrap.min.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/all.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/additional.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/medium.css" | urlize | relURL }}" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	-->
	<link href="{{ "/css/bootstrap.min.css" | urlize | relURL }}" rel="stylesheet">

	<link href="{{ "/css/everything.css" | urlize | relURL }}" rel="stylesheet">
	{{ printf "<!-- End Initial CSS Section. -->" | safeHTML }}

	{{ printf "<!-- Begin Initial JS Section. -->" | safeHTML }}

	{{ printf "<!-- These initial scripts implement fast darkmode to ensure a set setting is used. -->" | safeHTML }}

	<script src= "{{"/js/darkreader.js" | urlize | relURL }}"></script>

	{{ printf "<!-- In-line script for checking dark mode settings. -->" | safeHTML }}

	<script>
	function darkmode_starting_up() {
		var savedTheme = localStorage.getItem("dark-mode-storage") || "dark";
	  if (savedTheme === "dark") {
			DarkReader.enable();
		}
		if (savedTheme === "light") {
			DarkReader.disable();
		}
	}
	</script>

	<script async="async" type="text/javascript">darkmode_starting_up();</script>

	<script>
	function navbarCollapse() {
  	var x = document.getElementById("navbarMediumish");
  	if (x.className === "t-navbar-collapse") {
    	x.className += " responsive";
  	} else {
    	x.className = "t-navbar-collapse";
  	}
	}
	</script>

	{{ printf "<!-- End Initial JS Section -->"| safeHTML }}


</head>
