<!-- Categories Jumbotron
================================================== -->
<!-- This partial defines the "tags" section on each page.-->
<div class="jumbotron fortags">
	<div class="d-md-flex h-100">
		<div class="col-md-4 transpdark align-self-center text-center h-100">
			<div class="d-md-flex align-items-center justify-content-center h-100">
				<h2 class="d-md-block d-none align-self-center py-1 font-weight-light">Explore <span class="d-none d-md-inline">→</span></h2>
			</div>
		</div>
		<div class="col-md-8 p-5 align-self-center text-center">
			{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			<a class="mt-1 mb-1" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">#{{ $name }}</a>
			{{ end }}
		</div>
	</div>
</div>
