{{ printf "<!-- Begin Menu Navigation -->"| safeHTML }}
<nav class="t-navbar">
    <div class="t-container">
        {{ printf "<!-- Begin Logo -->"| safeHTML }}
        <a class="t-navbar-brand" href="{{ .Site.BaseURL }}/">

            {{- with .Site.Params.logo -}}
            <img src="{{ . | urlize | relURL }}" alt="logo">
            {{- else -}}
            <span style="font-family:Righteous;">{{.Site.Title}}</span>
            {{- end -}}
        </a>
        {{ printf "<!-- End Logo -->"| safeHTML }}

        {{ printf "<!-- Begin Menu Toggle -->"| safeHTML }}

        <button class="t-navbar-toggler" type="button" onclick="navbarCollapse()" aria-label="Toggle navigation">
            <span class="t-navbar-toggler-icon t-nav-item t-nav-link fas fa-bars"></span>
        </button>

        {{ printf "<!-- End Menu Toggle -->"| safeHTML }}

        {{ printf "<!-- Begin Menu -->"| safeHTML }}
        <div class="t-navbar-collapse" id="navbarMediumish">
            {{ $currentPage := . }}
            <ul class="t-navbar-nav t-ml-auto">
                {{ range .Site.Menus.main }}
                <li class="t-nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class="t-nav-link" href="{{ .URL }}">{{ .Name | title }}</a>
                </li>
                {{ end }}
                {{ printf "<!-- Begin Social Media Menu Buttons -->"| safeHTML }}
		            <li class="t-nav-item">
			               {{ with .Site.Params.social.twitter }}
    			              <a href="https://www.twitter.com/{{ . }}"><i class="fab fa-twitter social-icon t-nav-link" aria-hidden="false"></i></a>
    			           {{ end }}
    			           {{ with .Site.Params.social.instagram }}
    			              <a href="https://www.instagram.com/{{ . }}"><i class="fab fa-instagram social-icon t-nav-link" aria-hidden="false"></i></a>
    			           {{ end }}
                     <a onclick="darkmode_toggle();"><i class="fas fa-sun social-icon t-nav-link" aria-hidden="false" id="dark-mode-toggle" title="Toggle Dark Mode" style="cursor: pointer;"></i></a>
		            </li>
                {{ printf "<!-- End Social media Menu Buttons -->"| safeHTML }}
            </ul>
        </div>
        {{ printf "<!-- End Menu -->"| safeHTML }}
    </div>
</nav>
{{ printf "<!-- End Menu Navigation -->"| safeHTML }}
